@import "tailwindcss";
@plugin "daisyui";

/* Custom CSS Variables */
:root {
  --primary-color: #48cae4;
  --secondary-color: #0077b6;
  --tertiary-color: #48cae4;
  --text-color: #333;
  --bg-light: #f8f9fa;
}

/* Dark Mode Colors */
[data-theme="dark"] {
  --primary-color: #48cae4;
  --secondary-color: #023e8a;
  --tertiary-color: #48cae4;
  --text-color: #fff;
  --bg-light: #1a1a2e;
}

/* Example Usage in Tailwind */
.bg-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
